:root{
    --primary-color: hsl(0, 0%, 8%);
    --secondary-color: hsl(0, 0%, 12%);
    --thertary-color: hsl(0, 0%, 20%);
    --font-color: hsl(0, 0%, 100%);
    --hover-color: hsl(75, 94%, 57%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--font-color);
    flex-direction: column;
}
body{
    font-family: "Inter", sans-serif;
    /* el height con el vh no permite que la pagina haga scroll si se añade otro cotenedor*/
    min-height: 100vh;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
}
main{
    max-width: 340px;
    border-radius: 12px;
    background-color: var(--secondary-color);
    padding: 36px;
    display: flex;
    align-items: center;
}
.hero{
    display: flex;
    align-items: center;
    img{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        display: flex;
        margin: 0 auto;
    }
    h1{
        font-size: 1.6rem;
        margin: 12px 0 4px 0;
    }
    span{
        color: var(--hover-color);
        font-size: .8rem;
    }
    p{  
        color: hsla(0, 0%, 100%, 0.945);
        font-weight: 300;
        font-size: .8rem;
        margin: 16px 0;
    }
}
ol{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 12px;
    li{
        width: 100%;
        height: 44px;
        list-style: none;
        background-color: var(--thertary-color);
        border-radius: 8px;
        a{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            text-decoration: none;
            font-weight: bolder;
            font-size: .8rem;
            transition: all 0.2s ease-in;
            border-radius: 8px;
        }
        :hover{
            color: black;
            background-color: var(--hover-color);
        }
    }
}
.attribution{
    position: fixed;
    bottom: 0;
}

@media screen and (max-width:475px){
    main{
        max-width: none;
        width: 100%;
    }
}